.cell {
    border-style: double;
    border-color: black;
}

.row {
    /*background-color: #ffffff; /* Adjust the background color to your preference */
  border: 1px solid #000; /* Optional border around each cell */
  height: 398px; /* Ensures each cell takes up the entire grid cell */
} 

