body {
    background-color: #000000;
}

#controlContainer{
    

}

#resetButton, #sizeButtonOne, #sizeButtonTwo   {
    border-style: none;
    background-color: #000;
    color: #ffffff;

}



.gridContainerStyle{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 400px; /* Adjust the width to your preference */
    height: 400px; /* Adjust the height to your preference */
    border: 2px solid #000; /* Optional border around the grid */
    background-color:#0bf7a8
    
}

.gridContainerSizeTwo {


    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
    width: 400px; /* Adjust the width to your preference */
    height: 400px; /* Adjust the height to your preference */
    border: 2px solid #000; /* Optional border around the grid */
       
        
}

.gridContainerSizeThree {

    display: grid;
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(64, 1fr);
    width: 400px; /* Adjust the width to your preference */
    height: 400px; /* Adjust the height to your preference */
    border: 2px solid #000; /* Optional border around the grid */
       

}

.cell {
    display: flex;
  flex-direction: row;
  border: 1px solid #000;
  height: 5.77%; 
}

.cellSizeTwo {

    display: flex;
    flex-direction: row;
    border: 1px solid #000;
    height: 2.63%; 
}

.cellSizeThree {

    display: flex;
    flex-direction: row;
    border: 1px solid #000;
    height: 1.07%; 
}


.cell:hover {
    background-color: #000;
}

.cell.hovered {
    background-color: #000000;
}

.row {
    /*background-color: #ffffff; /* Adjust the background color to your preference */
  border: 1px solid #000; /* Optional border around each cell */
  height: 398px; /* Ensures each cell takes up the entire grid cell */
} 

